//div {
//    border: 1px solid magenta;
    //for debug only
//}

body {
   font-family: 'Montserrat', sans-serif;
    background-image: url(images/medium-potato.jpg);
    background-size: cover;
    
}

h1 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 65px;
    text-align: center;
    margin: 10px auto 10px auto;
    padding-top: 10px;
}

.container {
    width: 400px;
    margin: 10px auto;
    background: white;
    border-radius: 10%;

}

.controller{
    font-size: 20px;
}

button {
   font-family: 'Montserrat', sans-serif; 
    font-size: 20px;
}

#start{
    margin: 0 5px 20px 15px;   
}

#pause{
    margin: 0 5px 20px 5px;
}

#reset{
    margin: 0 15px 20px 5px;
}


button.disabled {
    background-color: aqua;
}

.control-buttons{
    padding: 8px;
    border-radius: 45%;
}

.control-row{
    padding: 10px 20px 20px 30px;
    margin: 5px;
}
 
.control-row-label{
    padding: 10px 20px 20px 30px;
    margin: auto;
}

.play-buttons{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    padding-bottom: 20px;
}

#bigPotato{
    width: 250px;
    height: 250px;
    margin: 30px auto 10px;
    background-color: darkgoldenrod;
    background-image: url(images/medium-potato.jpg);
    background-position: center;
    border: 10px solid darkgoldenrod;
    padding: 20px;
    border-radius: 50%;
}

#innerPotato{
    width: 200px;
    margin: 80px auto;
     font-family: 'Reenie Beanie', cursive;
    font-size: 50px;
    text-align: center;
}


https://notificationsounds.com/soundfiles/821fa74b50ba3f7cba1e6c53e8fa6845/file-sounds-924-long-chime-sound.mp3
