/*div {
    border: 1px solid magenta;
    //for debug only
}*/

body {
   font-family: 'Montserrat', sans-serif;
    background-image: url(images/medium-potato.jpg);
    background-size: cover;
    
}

h1 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 65px;
    text-align: center;
    margin: 10px auto 10px auto;
    padding-top: 10px;
}

a {
    color: black;
}

.container {
    width: 400px;
    margin: 10px auto;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, .5);

}

.controller{
    font-size: 20px;
}

button {
   font-family: 'Montserrat', sans-serif; 
    font-size: 20px;
}

#start{
    margin: 0 5px 20px 15px;   
}

#pause{
    margin: 0 5px 20px 5px;
}

#reset{
    margin: 0 15px 20px 5px;
}


button.disabled {
    background-color: aqua;
}

.control-buttons{
    padding: 8px;
    border-radius: 45%;
}

.control-row{
    padding: 10px 20px 20px 30px;
    margin: 5px;
}
 
.control-row-label{
    padding: 10px 20px 20px 30px;
    margin: auto;
}

.play-buttons{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    padding-bottom: 20px;
}

.potato-background{
    width: 270px;
    height: 270px;
    margin: 30px auto 10px;
    background-image: url(images/medium-potato.jpg);
    background-position: center;
    //border: 10px solid darkgoldenrod;
    //background-color: white;
    //padding: 20px;
    border-radius: 50%;
    //background-color: rgba(255, 255, 255, 0);
  
}

#bigPotato{
    width: 250px;
    height: 250px;
    border: 10px solid darkgoldenrod;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .5);
    
}

//this is supposed to make the inner potato look hazy
.fill-layer{
    background-color: rgba(255, 255, 255, .5);
    //z-index: 1000;

}

#innerPotato{
    width: 200px;
    margin: 80px auto;
    font-family: 'Reenie Beanie', cursive;
    font-size: 50px;
    text-align: center;
}

.footer {
    width: 400px;
    margin: 10px auto;
}



